@charset "UTF-8";

/*
-----------------------------------------
Template: Carfishing
Version: 0.1
Author: Joaquín Figueroa M., Estudioretina Ltd. (estudioretina.com)

-----------------------------------------
*/

/* CSS Document */

* {
	margin: 0;
	padding: 0;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}
html, body,{
	height: 100%;
}

html, body {
	font-family: 'Fira Sans', sans-serif;
	background: #fff;
	color: #333;
	height: 100%;
}

.display-table {
	display: table;
	width: 100%;
	height: 100%;

}

.display-cell {
	display: table-cell;
	vertical-align: middle;
}

.intro{
	max-width: 700px;
	text-align: center;
	margin: 50px auto 0;
}

#form{
	min-height: 900px;
	background: #EF5455;
}

h1{
	font-family: 'Fira Sans', sans-serif;
	font-size: 4.5em;
	font-weight: 700;
}

h3{
	font-weight: normal;
	font-size: 1.4em;
	line-height: 1.6em;
	color: #373B3F;
}

img.img-intro{
	width: 250px;
}

/* Styles fot btn warning */

.btn-warning{
	padding: 15px 60px;
	font-size: 1.125em;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}
